{
  "openapi": "3.1.0",
  "info": {
    "title": "Alignet API",
    "version": "1.0.0",
    "description": "Referencia OpenAPI para autenticacion, autorizacion, consulta, cancelacion, devoluciones y notificaciones de pagos ecommerce en PayIn."
  },
  "servers": [
    {
      "url": "https://auth.preprod.alignet.io",
      "description": "Pre-Produccion"
    },
    {
      "url": "https://auth.alignet.io",
      "description": "Produccion"
    }
  ],
  "paths": {
    "/token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Generar Access Token",
        "description": "Genera un Bearer Token usando credenciales del comercio y el flujo client_credentials.\n\nSi prefieres ver la solicitud documentada paso a paso, revisa [Autenticaci\u00f3n](/autenticacion#param-post-token).",
        "operationId": "generateAccessToken",
        "parameters": [
          {
            "name": "ALG-API-VERSION",
            "in": "header",
            "required": true,
            "description": "Version del API a usar.",
            "schema": {
              "type": "string",
              "default": "1709847567"
            },
            "example": "1709847567"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "default": {
                  "action": "authorize",
                  "grant_type": "client_credentials",
                  "audience": "https://api.preprod.alignet.io/",
                  "client_id": "your_client_id",
                  "client_secret": "your_client_secret",
                  "scope": "create:token post:charges get:charges delete:charges"
                },
                "additionalProperties": false,
                "required": [
                  "action",
                  "grant_type",
                  "audience",
                  "client_id",
                  "client_secret",
                  "scope"
                ],
                "properties": {
                  "action": {
                    "type": "string",
                    "description": "Accion a ejecutar.",
                    "default": "authorize",
                    "example": "authorize"
                  },
                  "grant_type": {
                    "type": "string",
                    "description": "Metodo de autorizacion.",
                    "default": "client_credentials",
                    "example": "client_credentials"
                  },
                  "audience": {
                    "type": "string",
                    "description": "URL base del API Orquestador segun el ambiente configurado.",
                    "enum": [
                      "https://api.preprod.alignet.io/",
                      "https://api.alignet.io/"
                    ],
                    "default": "https://api.preprod.alignet.io/",
                    "example": "https://api.preprod.alignet.io/"
                  },
                  "client_id": {
                    "type": "string",
                    "description": "Identificacion del cliente.",
                    "default": "your_client_id",
                    "example": "your_client_id"
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "Secreto del cliente.",
                    "default": "your_client_secret",
                    "example": "your_client_secret"
                  },
                  "scope": {
                    "type": "string",
                    "description": "Permisos a solicitar, separados por espacios.",
                    "default": "create:token post:charges get:charges delete:charges",
                    "example": "create:token post:charges get:charges delete:charges"
                  }
                }
              },
              "example": {
                "action": "authorize",
                "grant_type": "client_credentials",
                "audience": "https://api.preprod.alignet.io/",
                "client_id": "your_client_id",
                "client_secret": "your_client_secret",
                "scope": "create:token post:charges get:charges delete:charges"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token generado correctamente.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "action",
                    "success",
                    "authorization"
                  ],
                  "properties": {
                    "action": {
                      "type": "string",
                      "description": "Accion a ejecutar.",
                      "example": "authorize"
                    },
                    "success": {
                      "type": "boolean",
                      "description": "Indica si el proceso se realizo correctamente.",
                      "example": true
                    },
                    "access_token": {
                      "type": "string",
                      "description": "Token para usar en las APIs. Antes de consumir endpoints protegidos, puedes revisar la solicitud del token en [Autenticaci\u00f3n](/autenticacion#param-post-token).",
                      "example": "eyJhbGciOiJIUzI1NiIs..."
                    },
                    "scope": {
                      "type": "string",
                      "description": "Permisos asociados al token generado.",
                      "example": "create:token api-test:create:token"
                    },
                    "expires_in": {
                      "type": "integer",
                      "description": "Tiempo de expiracion del token en segundos.",
                      "example": 8600
                    },
                    "token_type": {
                      "type": "string",
                      "description": "Tipo de token.",
                      "example": "Bearer"
                    },
                    "authorization": {
                      "type": "object",
                      "description": "Objeto que contiene metadatos del flujo ejecutado.",
                      "required": [
                        "meta"
                      ],
                      "properties": {
                        "meta": {
                          "type": "object",
                          "description": "Objeto que contiene metadatos del flujo ejecutado.",
                          "required": [
                            "status"
                          ],
                          "properties": {
                            "status": {
                              "type": "object",
                              "description": "Objeto que contiene el resultado del flujo ejecutado.",
                              "required": [
                                "code",
                                "message_ilgn"
                              ],
                              "properties": {
                                "code": {
                                  "type": "string",
                                  "description": "Codigo que representa el resultado del flujo ejecutado.",
                                  "example": "00"
                                },
                                "message_ilgn": {
                                  "type": "array",
                                  "description": "Lista de mensajes resultantes del flujo.",
                                  "items": {
                                    "type": "object",
                                    "required": [
                                      "locale",
                                      "value"
                                    ],
                                    "properties": {
                                      "locale": {
                                        "type": "string",
                                        "description": "Localidad a nivel de lenguaje para el mensaje del flujo ejecutado.",
                                        "example": "es_PE"
                                      },
                                      "value": {
                                        "type": "string",
                                        "description": "Mensaje resultante del flujo ejecutado.",
                                        "example": "Access Token creado"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "action": "authorize",
                  "success": true,
                  "access_token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9...",
                  "scope": "create:token api-test:create:token",
                  "expires_in": 8600,
                  "token_type": "Bearer",
                  "authorization": {
                    "meta": {
                      "status": {
                        "code": "00",
                        "message_ilgn": [
                          {
                            "locale": "es_PE",
                            "value": "Access Token creado"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request invalido."
          },
          "401": {
            "description": "Credenciales invalidas o scope no permitido."
          }
        }
      }
    },
    "/nonce": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Generar Nonce",
        "description": "Genera el Nonce necesario para inicializar Pay-me Flex despues de autenticarte.\n\nSi prefieres ver la solicitud documentada paso a paso, revisa [API Nonce](/api-nonce).",
        "operationId": "generateNonce",
        "parameters": [
          {
            "name": "ALG-API-VERSION",
            "in": "header",
            "required": true,
            "description": "Version del API a usar.",
            "schema": {
              "type": "string",
              "default": "1709847567"
            },
            "example": "1709847567"
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Bearer Token vigente generado previamente desde /token.",
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJSUzI1NiIs..."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "action",
                  "audience",
                  "client_id",
                  "scope"
                ],
                "properties": {
                  "action": {
                    "type": "string",
                    "description": "Accion a ejecutar.",
                    "default": "create.nonce",
                    "example": "create.nonce"
                  },
                  "audience": {
                    "type": "string",
                    "description": "URL base del API Orquestador segun el ambiente configurado.",
                    "enum": [
                      "https://api.preprod.alignet.io/",
                      "https://api.alignet.io/"
                    ],
                    "default": "https://api.preprod.alignet.io/",
                    "example": "https://api.preprod.alignet.io/"
                  },
                  "client_id": {
                    "type": "string",
                    "description": "Identificacion del cliente.",
                    "default": "your_client_id",
                    "example": "your_client_id"
                  },
                  "scope": {
                    "type": "string",
                    "description": "Permisos a solicitar.",
                    "default": "post:charges",
                    "example": "post:charges"
                  }
                }
              },
              "example": {
                "action": "create.nonce",
                "audience": "https://api.preprod.alignet.io/",
                "client_id": "your_client_id",
                "scope": "post:charges"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Nonce generado correctamente.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "action",
                    "success",
                    "nonce_creation"
                  ],
                  "properties": {
                    "action": {
                      "type": "string",
                      "description": "Accion ejecutada.",
                      "example": "create.nonce"
                    },
                    "success": {
                      "type": "boolean",
                      "description": "Indica si el proceso se realizo correctamente.",
                      "example": true
                    },
                    "nonce": {
                      "type": "string",
                      "description": "Token temporal a usar en la inicializacion de Pay-me Flex.",
                      "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9..."
                    },
                    "scope": {
                      "type": "string",
                      "description": "Permisos solicitados.",
                      "example": "post:charges"
                    },
                    "expires_in": {
                      "type": "integer",
                      "description": "Tiempo de expiracion del nonce en segundos.",
                      "example": 30
                    },
                    "nonce_creation": {
                      "type": "object",
                      "description": "Objeto que contiene metadatos del flujo ejecutado.",
                      "required": [
                        "meta"
                      ],
                      "properties": {
                        "meta": {
                          "type": "object",
                          "description": "Objeto que contiene metadatos del flujo ejecutado.",
                          "required": [
                            "status"
                          ],
                          "properties": {
                            "status": {
                              "type": "object",
                              "description": "Objeto que contiene el resultado del flujo ejecutado.",
                              "required": [
                                "code",
                                "message_ilgn"
                              ],
                              "properties": {
                                "code": {
                                  "type": "string",
                                  "description": "Codigo que representa el resultado del flujo ejecutado.",
                                  "example": "00"
                                },
                                "message_ilgn": {
                                  "type": "array",
                                  "description": "Lista de mensajes resultantes del flujo.",
                                  "items": {
                                    "type": "object",
                                    "required": [
                                      "locale",
                                      "value"
                                    ],
                                    "properties": {
                                      "locale": {
                                        "type": "string",
                                        "description": "Localidad a nivel de lenguaje para el mensaje del flujo ejecutado.",
                                        "example": "es_PE"
                                      },
                                      "value": {
                                        "type": "string",
                                        "description": "Mensaje resultante del flujo ejecutado.",
                                        "example": "Codigo Nonce creado"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "action": "create.nonce",
                  "success": true,
                  "nonce": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.........",
                  "scope": "post:charges",
                  "expires_in": 30,
                  "nonce_creation": {
                    "meta": {
                      "status": {
                        "code": "00",
                        "message_ilgn": [
                          {
                            "locale": "es_PE",
                            "value": "Codigo Nonce creado"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request invalido."
          },
          "401": {
            "description": "Token invalido o expirado."
          }
        }
      }
    },
    "/charges": {
      "post": {
        "tags": [
          "PayIn"
        ],
        "summary": "Autorizar pago ecommerce",
        "description": "Procesa un pago ecommerce usando el API de autorizacion.\n\nEste endpoint soporta flujos con Tarjeta, Yape, Transferencia Bancaria, QR, Cuot\u00e9alo y PagoEfectivo. Antes de consumirlo, solicita tu Access Token en [Autenticaci\u00f3n](/autenticacion#param-post-token). Si necesitas la guia funcional paso a paso, revisa [Tarjeta](/payin/autorizacion-tarjeta), [Yape](/payin/autorizacion-yape), [Transferencia Bancaria](/payin/autorizacion-transferencia-bancaria), [QR](/payin/autorizacion-qr), [Cuot\u00e9alo](/payin/autorizacion-cuotealo) o [PagoEfectivo](/payin/autorizacion-pagoefectivo).",
        "operationId": "authorizeEcommercePayment",
        "servers": [
          {
            "url": "https://api.preprod.alignet.io",
            "description": "Pre-Produccion"
          },
          {
            "url": "https://api.alignet.io",
            "description": "Produccion"
          }
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Token Bearer obtenido desde autenticacion.",
            "schema": {
              "type": "string",
              "default": "Bearer {{access_token}}"
            },
            "example": "Bearer {{access_token}}"
          },
          {
            "name": "ALG-API-VERSION",
            "in": "header",
            "required": true,
            "description": "Version del API a usar.",
            "schema": {
              "type": "string",
              "default": "1709847567"
            },
            "example": "1709847567"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChargeAuthorizeRequest"
              },
              "examples": {
                "card": {
                  "summary": "Pago con tarjeta",
                  "value": {
                    "action": "authorize",
                    "channel": "ecommerce",
                    "merchant_code": "your_merchant_code",
                    "merchant_operation_number": "2391645",
                    "payment_method": {
                      "method_name": "CARD",
                      "method_details": {
                        "pan": "4051420006041115",
                        "expiry_date": "1231",
                        "security_code": "123",
                        "card_holder": {
                          "first_name": "Pedro",
                          "last_name": "Miranda",
                          "email": "pedro@pay-me.com",
                          "phone": {
                            "prefix": "51",
                            "number": "999835685"
                          }
                        },
                        "installments": {
                          "plan": "01",
                          "number": "3"
                        }
                      }
                    },
                    "payment_details": {
                      "amount": "15000",
                      "currency": "604",
                      "billing": {
                        "first_name": "Pedro",
                        "last_name": "Miranda",
                        "email": "pedro@pay-me.com",
                        "phone": {
                          "country_code": "+51",
                          "subscriber": "999835685"
                        },
                        "location": {
                          "line_1": "Av. Casimiro Ulloa 333",
                          "line_2": "Miraflores",
                          "city": "Lima",
                          "state": "Lima",
                          "country": "Peru"
                        }
                      },
                      "shipping": {
                        "first_name": "Pedro",
                        "last_name": "Miranda",
                        "email": "pedro@pay-me.com",
                        "phone": {
                          "country_code": "+51",
                          "subscriber": "999835685"
                        },
                        "location": {
                          "line_1": "Av. Casimiro Ulloa 333",
                          "line_2": "Miraflores",
                          "city": "Lima",
                          "state": "Lima",
                          "country": "Peru"
                        }
                      },
                      "customer": {
                        "first_name": "Pedro",
                        "last_name": "Miranda",
                        "email": "pedro@pay-me.com",
                        "phone": {
                          "country_code": "+51",
                          "subscriber": "999835685"
                        },
                        "location": {
                          "line_1": "Av. Casimiro Ulloa 333",
                          "line_2": "Miraflores",
                          "city": "Lima",
                          "state": "Lima",
                          "country": "Peru"
                        }
                      },
                      "product_details": []
                    }
                  }
                },
                "yape": {
                  "summary": "Pago con Yape",
                  "value": {
                    "action": "authorize",
                    "channel": "ecommerce",
                    "merchant_code": "b0deb6f3-e51a-48a7-9268-f1441d46f7bd",
                    "merchant_operation_number": "5974484",
                    "payment_method": {
                      "method_name": "YAPE",
                      "method_details": {
                        "callback_url": "https://pay-me.com/callback",
                        "phone": {
                          "country_code": "+51",
                          "subscriber": "969929157"
                        },
                        "otp": "557454"
                      }
                    },
                    "payment_details": {
                      "amount": "15000",
                      "currency": "604",
                      "billing": {
                        "first_name": "Pedro",
                        "last_name": "Miranda",
                        "email": "pedro@pay-me.com",
                        "phone": {
                          "country_code": "+51",
                          "subscriber": "999835685"
                        },
                        "location": {
                          "line_1": "Av. Casimiro Ulloa 333",
                          "line_2": "Miraflores",
                          "city": "Lima",
                          "state": "Lima",
                          "country": "Peru"
                        }
                      },
                      "shipping": {
                        "first_name": "Pedro",
                        "last_name": "Miranda",
                        "email": "pedro@pay-me.com",
                        "phone": {
                          "country_code": "+51",
                          "subscriber": "999835685"
                        },
                        "location": {
                          "line_1": "Av. Casimiro Ulloa 333",
                          "line_2": "Miraflores",
                          "city": "Lima",
                          "state": "Lima",
                          "country": "Peru"
                        }
                      },
                      "customer": {
                        "first_name": "Pedro",
                        "last_name": "Miranda",
                        "email": "pedro@pay-me.com",
                        "phone": {
                          "country_code": "+51",
                          "subscriber": "999835685"
                        },
                        "location": {
                          "line_1": "Av. Casimiro Ulloa 333",
                          "line_2": "Miraflores",
                          "city": "Lima",
                          "state": "Lima",
                          "country": "Peru"
                        }
                      },
                      "product_details": []
                    }
                  }
                },
                "bank_transfer": {
                  "summary": "Pago con transferencia bancaria",
                  "value": {
                    "action": "authorize",
                    "channel": "ecommerce",
                    "merchant_code": "your_merchant_code",
                    "merchant_operation_number": "5974483",
                    "payment_method": {
                      "method_name": "BANK_TRANSFER",
                      "method_details": {
                        "redirect_url": "https://pay-me.com",
                        "callback_url": "https://pay-me.com/callback"
                      }
                    },
                    "payment_details": {
                      "amount": "15000",
                      "currency": "604",
                      "billing": {
                        "first_name": "Pedro",
                        "last_name": "Miranda",
                        "email": "pedro@pay-me.com",
                        "phone": {
                          "country_code": "+51",
                          "subscriber": "999835685"
                        },
                        "location": {
                          "line_1": "Av. Casimiro Ulloa 333",
                          "line_2": "Miraflores",
                          "city": "Lima",
                          "state": "Lima",
                          "country": "Peru"
                        }
                      },
                      "shipping": {
                        "first_name": "Pedro",
                        "last_name": "Miranda",
                        "email": "pedro@pay-me.com",
                        "phone": {
                          "country_code": "+51",
                          "subscriber": "999835685"
                        },
                        "location": {
                          "line_1": "Av. Casimiro Ulloa 333",
                          "line_2": "Miraflores",
                          "city": "Lima",
                          "state": "Lima",
                          "country": "Peru"
                        }
                      },
                      "customer": {
                        "first_name": "Pedro",
                        "last_name": "Miranda",
                        "email": "pedro@pay-me.com",
                        "phone": {
                          "country_code": "+51",
                          "subscriber": "999835685"
                        },
                        "location": {
                          "line_1": "Av. Casimiro Ulloa 333",
                          "line_2": "Miraflores",
                          "city": "Lima",
                          "state": "Lima",
                          "country": "Peru"
                        }
                      },
                      "product_details": []
                    }
                  }
                },
                "cuotealo": {
                  "summary": "Pago con Cuotealo",
                  "value": {
                    "action": "authorize",
                    "channel": "ecommerce",
                    "merchant_code": "your_merchant_code",
                    "merchant_operation_number": "5974483",
                    "payment_method": {
                      "method_name": "CUOTEALO",
                      "method_details": {
                        "redirect_url": "https://pay-me.com",
                        "callback_url": "https://pay-me.com/callback"
                      }
                    },
                    "payment_details": {
                      "amount": "15000",
                      "currency": "604",
                      "billing": {
                        "first_name": "Pedro",
                        "last_name": "Miranda",
                        "email": "pedro@pay-me.com",
                        "phone": {
                          "country_code": "+51",
                          "subscriber": "999835685"
                        },
                        "location": {
                          "line_1": "Av. Casimiro Ulloa 333",
                          "line_2": "Miraflores",
                          "city": "Lima",
                          "state": "Lima",
                          "country": "Peru"
                        }
                      },
                      "shipping": {
                        "first_name": "Pedro",
                        "last_name": "Miranda",
                        "email": "pedro@pay-me.com",
                        "phone": {
                          "country_code": "+51",
                          "subscriber": "999835685"
                        },
                        "location": {
                          "line_1": "Av. Casimiro Ulloa 333",
                          "line_2": "Miraflores",
                          "city": "Lima",
                          "state": "Lima",
                          "country": "Peru"
                        }
                      },
                      "customer": {
                        "first_name": "Pedro",
                        "last_name": "Miranda",
                        "email": "pedro@pay-me.com",
                        "phone": {
                          "country_code": "+51",
                          "subscriber": "999835685"
                        },
                        "location": {
                          "line_1": "Av. Casimiro Ulloa 333",
                          "line_2": "Miraflores",
                          "city": "Lima",
                          "state": "Lima",
                          "country": "Peru"
                        }
                      },
                      "product_details": []
                    }
                  }
                },
                "pagoefectivo": {
                  "summary": "Pago con PagoEfectivo",
                  "value": {
                    "action": "authorize",
                    "channel": "ecommerce",
                    "merchant_code": "your_merchant_code",
                    "merchant_operation_number": "5974483",
                    "payment_method": {
                      "method_name": "PAGOEFECTIVO",
                      "method_details": {
                        "redirect_url": "https://pay-me.com",
                        "callback_url": "https://pay-me.com/callback"
                      }
                    },
                    "payment_details": {
                      "amount": "15000",
                      "currency": "604",
                      "billing": {
                        "first_name": "Pedro",
                        "last_name": "Miranda",
                        "email": "pedro@pay-me.com",
                        "phone": {
                          "country_code": "+51",
                          "subscriber": "999835685"
                        },
                        "location": {
                          "line_1": "Av. Casimiro Ulloa 333",
                          "line_2": "Miraflores",
                          "city": "Lima",
                          "state": "Lima",
                          "country": "Peru"
                        }
                      },
                      "shipping": {
                        "first_name": "Pedro",
                        "last_name": "Miranda",
                        "email": "pedro@pay-me.com",
                        "phone": {
                          "country_code": "+51",
                          "subscriber": "999835685"
                        },
                        "location": {
                          "line_1": "Av. Casimiro Ulloa 333",
                          "line_2": "Miraflores",
                          "city": "Lima",
                          "state": "Lima",
                          "country": "Peru"
                        }
                      },
                      "customer": {
                        "first_name": "Pedro",
                        "last_name": "Miranda",
                        "email": "pedro@pay-me.com",
                        "phone": {
                          "country_code": "+51",
                          "subscriber": "999835685"
                        },
                        "location": {
                          "line_1": "Av. Casimiro Ulloa 333",
                          "line_2": "Miraflores",
                          "city": "Lima",
                          "state": "Lima",
                          "country": "Peru"
                        }
                      },
                      "product_details": []
                    }
                  }
                },
                "qr": {
                  "summary": "Pago con QR",
                  "value": {
                    "action": "authorize",
                    "channel": "ecommerce",
                    "merchant_code": "your_merchant_code",
                    "merchant_operation_number": "5733813",
                    "payment_method": {
                      "method_name": "QR",
                      "method_details": {
                        "callback_url": "https://pay-me.com/callback"
                      }
                    },
                    "payment_details": {
                      "amount": "15000",
                      "currency": "604",
                      "billing": {
                        "first_name": "Pedro",
                        "last_name": "Miranda",
                        "email": "pedro@pay-me.com",
                        "phone": {
                          "country_code": "+51",
                          "subscriber": "999835685"
                        },
                        "location": {
                          "line_1": "Av. Casimiro Ulloa 333",
                          "line_2": "Miraflores",
                          "city": "Lima",
                          "state": "Lima",
                          "country": "Peru"
                        }
                      },
                      "shipping": {
                        "first_name": "Pedro",
                        "last_name": "Miranda",
                        "email": "pedro@pay-me.com",
                        "phone": {
                          "country_code": "+51",
                          "subscriber": "999835685"
                        },
                        "location": {
                          "line_1": "Av. Casimiro Ulloa 333",
                          "line_2": "Miraflores",
                          "city": "Lima",
                          "state": "Lima",
                          "country": "Peru"
                        }
                      },
                      "customer": {
                        "first_name": "Pedro",
                        "last_name": "Miranda",
                        "email": "pedro@pay-me.com",
                        "phone": {
                          "country_code": "+51",
                          "subscriber": "999835685"
                        },
                        "location": {
                          "line_1": "Av. Casimiro Ulloa 333",
                          "line_2": "Miraflores",
                          "city": "Lima",
                          "state": "Lima",
                          "country": "Peru"
                        }
                      },
                      "product_details": []
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaccion procesada correctamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargeAuthorizeResponse"
                },
                "examples": {
                  "card": {
                    "summary": "Respuesta de pago con tarjeta",
                    "value": {
                      "success": "true",
                      "action": "authorize",
                      "merchant_code": "your_merchant_code",
                      "merchant_operation_number": "2391645",
                      "transaction": {
                        "transaction_id": "5hk8rwa3h3cq9oyfs3a28v1ms",
                        "channel": "ecommerce",
                        "state": "AUTORIZADO",
                        "state_reason": "Approval and completed successfully",
                        "amount": "15000",
                        "currency": "604",
                        "payment_method": {
                          "method_name": "CARD",
                          "method_details": {
                            "masked_pan": "411111********1111",
                            "brand": "VISA",
                            "bin": "411111",
                            "last_pan": "9268",
                            "card_type": "DEBIT",
                            "card_country": "PE",
                            "issuer": "BANCO DE CREDITO DEL PERU - BCP",
                            "installments": {
                              "plan": "NORMAL",
                              "installment_number": "2"
                            }
                          }
                        },
                        "processor_response": {
                          "authorization_code": "055552",
                          "brand_transaction_id": "100B",
                          "result_message": {
                            "code": "00",
                            "description": "Approval and completed successfully"
                          }
                        },
                        "additional_fields": null,
                        "lifecycle": [
                          {
                            "state": "REGISTRADO",
                            "date": {
                              "utc_time": "2024-03-12T22:49:36.018Z",
                              "unix_time": 1710282940
                            }
                          },
                          {
                            "state": "PENDIENTE",
                            "date": {
                              "utc_time": "2024-03-12T22:49:36.018Z",
                              "unix_time": 1710282940
                            }
                          },
                          {
                            "state": "AUTORIZADO",
                            "date": {
                              "utc_time": "2024-03-12T22:49:36.018Z",
                              "unix_time": 1710282940
                            }
                          }
                        ]
                      },
                      "meta": {
                        "status": {
                          "code": "00",
                          "message_ilgn": [
                            {
                              "locale": "es_PE",
                              "value": "Procesado correctamente"
                            }
                          ]
                        }
                      }
                    }
                  },
                  "yape": {
                    "summary": "Respuesta de pago con Yape",
                    "value": {
                      "success": "true",
                      "action": "authorize",
                      "merchant_code": "b0deb6f3-e51a-48a7-9268-f1441d46f7bd",
                      "merchant_operation_number": "2391645",
                      "transaction": {
                        "transaction_id": "5hk8rwa3h3cq9oyfs3a28v1ms",
                        "channel": "ecommerce",
                        "state": "AUTORIZADO",
                        "state_reason": "Pago exitoso con Yape",
                        "amount": "15000",
                        "currency": "604",
                        "payment_method": {
                          "method_name": "YAPE",
                          "method_details": {
                            "phone": {
                              "country_code": "+51",
                              "subscriber": "969929157"
                            },
                            "masked_pan": "411111********1111",
                            "brand": "VISA",
                            "bin": "411111",
                            "last_pan": "9268",
                            "card_type": "DEBIT",
                            "card_country": "PE",
                            "issuer": "BANCO DE CREDITO DEL PERU - BCP"
                          }
                        },
                        "processor_response": {
                          "authorization_code": "055552",
                          "brand_transaction_id": "100B",
                          "result_message": {
                            "code": "00",
                            "description": "Approval and completed successfully"
                          }
                        },
                        "additional_fields": null,
                        "lifecycle": [
                          {
                            "state": "REGISTRADO",
                            "date": {
                              "utc_time": "2024-03-12T22:49:36.018Z",
                              "unix_time": 1710282940
                            }
                          },
                          {
                            "state": "PENDIENTE",
                            "date": {
                              "utc_time": "2024-03-12T22:49:36.018Z",
                              "unix_time": 1710282940
                            }
                          },
                          {
                            "state": "AUTORIZADO",
                            "date": {
                              "utc_time": "2024-03-12T22:49:36.018Z",
                              "unix_time": 1710282940
                            }
                          }
                        ]
                      },
                      "meta": {
                        "status": {
                          "code": "00",
                          "message_ilgn": [
                            {
                              "locale": "es_PE",
                              "value": "Procesado correctamente"
                            }
                          ]
                        }
                      }
                    }
                  },
                  "bank_transfer": {
                    "summary": "Respuesta de pago con transferencia bancaria",
                    "value": {
                      "success": "true",
                      "action": "authorize",
                      "merchant_code": "your_merchant_code",
                      "merchant_operation_number": "2391645",
                      "transaction": {
                        "transaction_id": "5hk8rwa3h3cq9oyfs3a28v1ms",
                        "channel": "ecommerce",
                        "state": "PENDIENTE",
                        "state_reason": "Url generada para continuar con el pago",
                        "continue_url": "https://api.dev.alignet.io/payment/continue/card/81vrxn30vja1gwcfsdng4i5g5",
                        "amount": "15000",
                        "currency": "604",
                        "payment_method": {
                          "method_name": "BANK_TRANSFER",
                          "method_details": {
                            "redirect_url": "https://pay-me.com",
                            "callback_url": "https://pay-me.com/callback"
                          }
                        },
                        "expiration_date": {
                          "utc_time": "2024-03-12T22:49:36.018Z",
                          "unix_time": 1711585037
                        },
                        "processor_response": null,
                        "additional_fields": null,
                        "lifecycle": [
                          {
                            "state": "REGISTRADO",
                            "date": {
                              "utc_time": "2024-03-12T22:49:36.018Z",
                              "unix_time": 1710282940
                            }
                          },
                          {
                            "state": "PENDIENTE",
                            "date": {
                              "utc_time": "2024-03-12T22:49:36.018Z",
                              "unix_time": 1710282940
                            }
                          }
                        ]
                      },
                      "meta": {
                        "status": {
                          "code": "00",
                          "message_ilgn": [
                            {
                              "locale": "es_PE",
                              "value": "Procesado correctamente"
                            }
                          ]
                        }
                      }
                    }
                  },
                  "cuotealo": {
                    "summary": "Respuesta de pago con Cuotealo",
                    "value": {
                      "success": "true",
                      "action": "authorize",
                      "merchant_code": "your_merchant_code",
                      "merchant_operation_number": "2391645",
                      "transaction": {
                        "transaction_id": "5hk8rwa3h3cq9oyfs3a28v1ms",
                        "channel": "ecommerce",
                        "state": "PENDIENTE",
                        "state_reason": "Url generada para continuar con el pago",
                        "continue_url": "https://api.dev.alignet.io/payment/continue/card/81vrxn30vja1gwcfsdng4i5g5",
                        "amount": "15000",
                        "currency": "604",
                        "payment_method": {
                          "method_name": "CUOTEALO",
                          "method_details": {
                            "redirect_url": "https://pay-me.com",
                            "callback_url": "https://pay-me.com/callback"
                          }
                        },
                        "expiration_date": {
                          "utc_time": "2024-03-12T22:49:36.018Z",
                          "unix_time": 1711585037
                        },
                        "processor_response": null,
                        "additional_fields": null,
                        "lifecycle": [
                          {
                            "state": "REGISTRADO",
                            "date": {
                              "utc_time": "2024-03-12T22:49:36.018Z",
                              "unix_time": 1710282940
                            }
                          },
                          {
                            "state": "PENDIENTE",
                            "date": {
                              "utc_time": "2024-03-12T22:49:36.018Z",
                              "unix_time": 1710282940
                            }
                          }
                        ]
                      },
                      "meta": {
                        "status": {
                          "code": "00",
                          "message_ilgn": [
                            {
                              "locale": "es_PE",
                              "value": "Procesado correctamente"
                            }
                          ]
                        }
                      }
                    }
                  },
                  "pagoefectivo": {
                    "summary": "Respuesta de pago con PagoEfectivo",
                    "value": {
                      "success": "true",
                      "action": "authorize",
                      "merchant_code": "your_merchant_code",
                      "merchant_operation_number": "2391645",
                      "transaction": {
                        "transaction_id": "5hk8rwa3h3cq9oyfs3a28v1ms",
                        "channel": "ecommerce",
                        "state": "PENDIENTE",
                        "state_reason": "Codigo CIP generado exitosamente",
                        "amount": "15000",
                        "currency": "604",
                        "payment_method": {
                          "method_name": "PAGOEFECTIVO",
                          "method_details": {
                            "callback_url": "https://pay-me.com/callback"
                          }
                        },
                        "expiration_date": {
                          "utc_time": "2024-03-12T22:49:36.018Z",
                          "unix_time": 1711585037
                        },
                        "processor_response": {
                          "cip": "1508405",
                          "cip_url": "https://pre1a.payment.pagoefectivo.pe/72217FA5-4580-4B16-A345-24F028F53356.html",
                          "result_message": {
                            "code": "100",
                            "description": "Solicitud exitosa."
                          }
                        },
                        "additional_fields": null,
                        "lifecycle": [
                          {
                            "state": "REGISTRADO",
                            "date": {
                              "utc_time": "2024-03-12T22:49:36.018Z",
                              "unix_time": 1710282940
                            }
                          },
                          {
                            "state": "PENDIENTE",
                            "date": {
                              "utc_time": "2024-03-12T22:49:36.018Z",
                              "unix_time": 1710282940
                            }
                          }
                        ]
                      },
                      "meta": {
                        "status": {
                          "code": "00",
                          "message_ilgn": [
                            {
                              "locale": "es_PE",
                              "value": "Procesado correctamente"
                            }
                          ]
                        }
                      }
                    }
                  },
                  "qr": {
                    "summary": "Respuesta de pago con QR",
                    "value": {
                      "success": "true",
                      "action": "authorize",
                      "merchant_code": "your_merchant_code",
                      "merchant_operation_number": "2391645",
                      "transaction": {
                        "transaction_id": "5hk8rwa3h3cq9oyfs3a28v1ms",
                        "channel": "ecommerce",
                        "state": "PENDIENTE",
                        "state_reason": "QR generado exitosamente",
                        "amount": "15000",
                        "currency": "604",
                        "payment_method": {
                          "method_name": "QR",
                          "method_details": {
                            "callback_url": "https://pay-me.com/callback"
                          }
                        },
                        "expiration_date": {
                          "utc_time": "2024-03-12T22:49:36.018Z",
                          "unix_time": 1711585037
                        },
                        "processor_response": {
                          "date": "2024-03-26 19:17:19.599715",
                          "qr_image": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...",
                          "qr_id": "6d5d1ffc79234991b5592b825d6ec097",
                          "result_message": {
                            "code": "0",
                            "description": "Exito"
                          }
                        },
                        "additional_fields": null,
                        "lifecycle": [
                          {
                            "state": "REGISTRADO",
                            "date": {
                              "utc_time": "2024-03-12T22:49:36.018Z",
                              "unix_time": 1710282940
                            }
                          },
                          {
                            "state": "PENDIENTE",
                            "date": {
                              "utc_time": "2024-03-12T22:49:36.018Z",
                              "unix_time": 1710282940
                            }
                          }
                        ]
                      },
                      "meta": {
                        "status": {
                          "code": "00",
                          "message_ilgn": [
                            {
                              "locale": "es_PE",
                              "value": "Procesado correctamente"
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request invalido."
          },
          "401": {
            "description": "Token invalido o expirado."
          }
        }
      }
    },
    "/charges/{merchant_code}/{merchant_operation_number}/{transaction_id}": {
      "get": {
        "tags": [
          "PayIn"
        ],
        "summary": "Consultar transaccion ecommerce",
        "description": "Consulta el estado de una transaccion generada previamente por el API de autorizacion.\n\nEste endpoint soporta flujos con Tarjeta, Yape, Transferencia Bancaria, QR, Cuotealo y PagoEfectivo. Antes de consumirlo, solicita tu Access Token en [Autenticacion](/autenticacion#param-post-token). Si necesitas la guia funcional paso a paso, revisa [Tarjeta](/payin/consulta-tarjeta), [Yape](/payin/consulta-yape), [Transferencia Bancaria](/payin/consulta-transferencia-bancaria), [QR](/payin/consulta-qr), [Cuotealo](/payin/consulta-cuotealo) o [PagoEfectivo](/payin/consulta-pagoefectivo).",
        "operationId": "getEcommercePaymentStatus",
        "servers": [
          {
            "url": "https://api.preprod.alignet.io",
            "description": "Pre-Produccion"
          },
          {
            "url": "https://api.alignet.io",
            "description": "Produccion"
          }
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Token Bearer obtenido desde autenticacion.",
            "schema": {
              "type": "string",
              "default": "Bearer {{access_token}}"
            },
            "example": "Bearer {{access_token}}"
          },
          {
            "name": "ALG-API-VERSION",
            "in": "header",
            "required": true,
            "description": "Version del API a usar.",
            "schema": {
              "type": "string",
              "default": "1709847567"
            },
            "example": "1709847567"
          },
          {
            "name": "payment-facilitator-code",
            "in": "header",
            "required": false,
            "description": "Identificador del Facilitador de Pago.",
            "schema": {
              "type": "string"
            },
            "example": "your_pf_code"
          },
          {
            "name": "merchant_code",
            "in": "path",
            "required": true,
            "description": "Identificador del comercio.",
            "schema": {
              "type": "string"
            },
            "example": "your_merchant_code"
          },
          {
            "name": "merchant_operation_number",
            "in": "path",
            "required": true,
            "description": "Numero de operacion registrado por el comercio.",
            "schema": {
              "type": "string"
            },
            "example": "2391645"
          },
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "description": "Identificador unico de la transaccion consultada.",
            "schema": {
              "type": "string"
            },
            "example": "5hk8rwa3h3cq9oyfs3a28v1ms"
          }
        ],
        "responses": {
          "200": {
            "description": "Transaccion consultada correctamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargeQueryResponse"
                },
                "examples": {
                  "card": {
                    "summary": "Consulta de tarjeta",
                    "value": {
                      "success": true,
                      "merchant_code": "your_merchant_code",
                      "operation": {
                        "merchant_operation_number": "2391645",
                        "state": "AUTORIZADO",
                        "amount": "15000",
                        "currency": "604",
                        "transactions": [
                          {
                            "transaction_id": "5hk8rwa3h3cq9oyfs3a28v1ms",
                            "channel": "ecommerce",
                            "state": "AUTORIZADO",
                            "state_reason": "Approval and completed successfully",
                            "amount": "15000",
                            "currency": "604",
                            "payment_method": {
                              "method_name": "CARD",
                              "method_details": {
                                "masked_pan": "455788******9268",
                                "brand": "VISA",
                                "bin": "455788",
                                "last_pan": "9268",
                                "card_type": "DEBIT",
                                "card_country": "PE",
                                "issuer": "BANCO DE CREDITO DEL PERU - BCP",
                                "installments": {
                                  "plan": "NORMAL",
                                  "installment_number": "2"
                                },
                                "redirect_url": "https://pay-me.com",
                                "callback_url": "https://pay-me.com/callback"
                              }
                            },
                            "processor_response": {
                              "authorization_code": "055552",
                              "brand_transaction_id": "A055552",
                              "result_message": {
                                "code": "00",
                                "description": "Approval and completed successfully"
                              }
                            },
                            "lifecycle": [
                              {
                                "state": "REGISTRADO",
                                "date": {
                                  "utc_time": "2024-03-12T22:49:36.018Z",
                                  "unix_time": 1710282940
                                }
                              },
                              {
                                "state": "PENDIENTE",
                                "date": {
                                  "utc_time": "2024-03-12T22:49:36.018Z",
                                  "unix_time": 1710282940
                                }
                              },
                              {
                                "state": "AUTORIZADO",
                                "date": {
                                  "utc_time": "2024-03-12T22:49:36.018Z",
                                  "unix_time": 1710282940
                                }
                              }
                            ]
                          }
                        ]
                      },
                      "meta": {
                        "status": {
                          "code": "00",
                          "message_ilgn": [
                            {
                              "locale": "es_PE",
                              "value": "Procesado correctamente"
                            }
                          ]
                        }
                      }
                    }
                  },
                  "yape": {
                    "summary": "Consulta de Yape",
                    "value": {
                      "success": true,
                      "merchant_code": "your_merchant_code",
                      "operation": {
                        "merchant_operation_number": "2391645",
                        "state": "AUTORIZADO",
                        "amount": "15000",
                        "currency": "604",
                        "transactions": [
                          {
                            "transaction_id": "5hk8rwa3h3cq9oyfs3a28v1ms",
                            "channel": "ecommerce",
                            "state": "AUTORIZADO",
                            "state_reason": "Approval and completed successfully",
                            "amount": "15000",
                            "currency": "604",
                            "payment_method": {
                              "method_name": "YAPE",
                              "method_details": {
                                "phone": {
                                  "country_code": "+51",
                                  "subscriber": "969929157"
                                },
                                "masked_pan": "455788******9268",
                                "brand": "VISA",
                                "bin": "455788",
                                "last_pan": "9268",
                                "card_type": "DEBIT",
                                "card_country": "PE",
                                "issuer": "BANCO DE CREDITO DEL PERU - BCP",
                                "callback_url": "https://pay-me.com/callback"
                              }
                            },
                            "processor_response": {
                              "authorization_code": "055552",
                              "brand_transaction_id": "A055552",
                              "result_message": {
                                "code": "00",
                                "description": "Approval and completed successfully"
                              }
                            },
                            "lifecycle": [
                              {
                                "state": "REGISTRADO",
                                "date": {
                                  "utc_time": "2024-03-12T22:49:36.018Z",
                                  "unix_time": 1710282940
                                }
                              },
                              {
                                "state": "PENDIENTE",
                                "date": {
                                  "utc_time": "2024-03-12T22:49:36.018Z",
                                  "unix_time": 1710282940
                                }
                              },
                              {
                                "state": "AUTORIZADO",
                                "date": {
                                  "utc_time": "2024-03-12T22:49:36.018Z",
                                  "unix_time": 1710282940
                                }
                              }
                            ]
                          }
                        ]
                      },
                      "meta": {
                        "status": {
                          "code": "00",
                          "message_ilgn": [
                            {
                              "locale": "es_PE",
                              "value": "Procesado correctamente"
                            }
                          ]
                        }
                      }
                    }
                  },
                  "bank_transfer": {
                    "summary": "Consulta de transferencia bancaria",
                    "value": {
                      "success": true,
                      "merchant_code": "your_merchant_code",
                      "operation": {
                        "merchant_operation_number": "2391645",
                        "created_at": {
                          "utc_time": "2024-03-12T22:49:36.018Z",
                          "unix_time": 1710282940
                        },
                        "state": "PENDIENTE",
                        "amount": "15000",
                        "currency": "604",
                        "transactions": [
                          {
                            "transaction_id": "5hk8rwa3h3cq9oyfs3a28v1ms",
                            "channel": "ecommerce",
                            "state": "PENDIENTE",
                            "state_reason": "Url generada para continuar con el pago",
                            "amount": "15000",
                            "currency": "604",
                            "payment_method": {
                              "method_name": "BANK_TRANSFER",
                              "method_details": {
                                "redirect_url": "https://pay-me.com",
                                "callback_url": "https://pay-me.com/callback"
                              }
                            },
                            "continue_url": "https://api.dev.alignet.io/payment/continue/bank_transfer/c7dagnrwgxgh1b6kzwirheezv",
                            "expiration_date": {
                              "utc_time": "2024-03-12T22:49:36.018Z",
                              "unix_time": 1710282940
                            },
                            "processor_response": null,
                            "additional_fields": null,
                            "lifecycle": [
                              {
                                "state": "REGISTRADO",
                                "date": {
                                  "utc_time": "2024-03-12T22:49:36.018Z",
                                  "unix_time": 1710282940
                                }
                              },
                              {
                                "state": "PENDIENTE",
                                "date": {
                                  "utc_time": "2024-03-12T22:49:36.018Z",
                                  "unix_time": 1710282940
                                }
                              }
                            ]
                          }
                        ]
                      },
                      "meta": {
                        "status": {
                          "code": "00",
                          "message_ilgn": [
                            {
                              "locale": "es_PE",
                              "value": "Procesado correctamente"
                            }
                          ]
                        }
                      }
                    }
                  },
                  "qr": {
                    "summary": "Consulta de QR",
                    "value": {
                      "success": true,
                      "merchant_code": "your_merchant_code",
                      "operation": {
                        "merchant_operation_number": "2391645",
                        "created_at": {
                          "utc_time": "2024-03-12T22:49:36.018Z",
                          "unix_time": 1710282940
                        },
                        "state": "PENDIENTE",
                        "amount": "15000",
                        "currency": "604",
                        "transactions": [
                          {
                            "transaction_id": "5hk8rwa3h3cq9oyfs3a28v1ms",
                            "channel": "ecommerce",
                            "state": "PENDIENTE",
                            "state_reason": "QR generado, pendiente de pago",
                            "amount": "15000",
                            "currency": "604",
                            "payment_method": {
                              "method_name": "QR",
                              "method_details": {
                                "callback_url": "https://pay-me.com/callback"
                              }
                            },
                            "expiration_date": {
                              "utc_time": "2024-03-12T22:49:36.018Z",
                              "unix_time": 1710282940
                            },
                            "processor_response": {
                              "date": "2024-03-21 14:53:15.096596",
                              "qr_image": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...",
                              "qr_id": "e5e36834a2294d83868d587af8ae8e13",
                              "result_message": {
                                "code": "0",
                                "description": "Exito"
                              }
                            },
                            "additional_fields": null,
                            "lifecycle": [
                              {
                                "state": "REGISTRADO",
                                "date": {
                                  "utc_time": "2024-03-12T22:49:36.018Z",
                                  "unix_time": 1710282940
                                }
                              },
                              {
                                "state": "PENDIENTE",
                                "date": {
                                  "utc_time": "2024-03-12T22:49:36.018Z",
                                  "unix_time": 1710282940
                                }
                              }
                            ]
                          }
                        ]
                      },
                      "meta": {
                        "status": {
                          "code": "00",
                          "message_ilgn": [
                            {
                              "locale": "es_PE",
                              "value": "Procesado correctamente"
                            }
                          ]
                        }
                      }
                    }
                  },
                  "cuotealo": {
                    "summary": "Consulta de Cuotealo",
                    "value": {
                      "success": true,
                      "merchant_code": "your_merchant_code",
                      "operation": {
                        "merchant_operation_number": "2391645",
                        "created_at": {
                          "utc_time": "2024-03-12T22:49:36.018Z",
                          "unix_time": 1710282940
                        },
                        "state": "PENDIENTE",
                        "amount": "15000",
                        "currency": "604",
                        "transactions": [
                          {
                            "transaction_id": "5hk8rwa3h3cq9oyfs3a28v1ms",
                            "channel": "ecommerce",
                            "state": "PENDIENTE",
                            "state_reason": "Url generada para continuar con el pago",
                            "amount": "15000",
                            "currency": "604",
                            "payment_method": {
                              "method_name": "CUOTEALO",
                              "method_details": {
                                "redirect_url": "https://pay-me.com",
                                "callback_url": "https://pay-me.com/callback"
                              }
                            },
                            "continue_url": "https://api.dev.alignet.io/payment/continue/cuotealo/c7dagnrwgxgh1b6kzwirheezv",
                            "expiration_date": {
                              "utc_time": "2024-03-12T22:49:36.018Z",
                              "unix_time": 1710282940
                            },
                            "processor_response": null,
                            "additional_fields": null,
                            "lifecycle": [
                              {
                                "state": "REGISTRADO",
                                "date": {
                                  "utc_time": "2024-03-12T22:49:36.018Z",
                                  "unix_time": 1710282940
                                }
                              },
                              {
                                "state": "PENDIENTE",
                                "date": {
                                  "utc_time": "2024-03-12T22:49:36.018Z",
                                  "unix_time": 1710282940
                                }
                              }
                            ]
                          }
                        ]
                      },
                      "meta": {
                        "status": {
                          "code": "00",
                          "message_ilgn": [
                            {
                              "locale": "es_PE",
                              "value": "Procesado correctamente"
                            }
                          ]
                        }
                      }
                    }
                  },
                  "pagoefectivo": {
                    "summary": "Consulta de PagoEfectivo",
                    "value": {
                      "success": true,
                      "merchant_code": "your_merchant_code",
                      "operation": {
                        "merchant_operation_number": "7649167",
                        "state": "PENDIENTE",
                        "amount": "121900",
                        "currency": "604",
                        "transactions": [
                          {
                            "transaction_id": "a9e9040spd17ba3tdw42u4uv3",
                            "channel": "ecommerce",
                            "state": "PENDIENTE",
                            "state_reason": "Codigo CIP generado exitosamente",
                            "amount": "121900",
                            "currency": "604",
                            "additional_fields": null,
                            "payment_method": {
                              "method_name": "PAGOEFECTIVO",
                              "method_details": {
                                "callback_url": "https://pay-me.com/callback"
                              }
                            },
                            "expiration_date": {
                              "utc_time": "2024-07-06T16:20:16.345140+00:00",
                              "unix_time": 1720282816
                            },
                            "processor_response": {
                              "cip": "1508405",
                              "cip_url": "https://pre1a.payment.pagoefectivo.pe/72217FA5-4580-4B16-A345-24F028F53356.html",
                              "result_message": {
                                "code": "100",
                                "description": "Solicitud exitosa."
                              }
                            },
                            "lifecycle": [
                              {
                                "state": "REGISTRADO",
                                "date": {
                                  "utc_time": "2024-07-05T16:20:16",
                                  "unix_time": 1720196416
                                }
                              },
                              {
                                "state": "PENDIENTE",
                                "date": {
                                  "utc_time": "2024-07-05T16:20:16",
                                  "unix_time": 1720196416
                                }
                              }
                            ]
                          }
                        ]
                      },
                      "meta": {
                        "status": {
                          "code": "00",
                          "message_ilgn": [
                            {
                              "locale": "es_PE",
                              "value": "Procesado correctamente"
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request invalido."
          },
          "401": {
            "description": "Token invalido o expirado."
          }
        }
      }
    },
    "/charges/{merchant_code}/{merchant_operation_number}": {
      "delete": {
        "tags": [
          "PayIn"
        ],
        "summary": "Cancelar o extornar operacion ecommerce",
        "description": "Cancela o extorna una transaccion generada previamente por el API de autorizacion.\n\nCon el metodo DELETE del orquestador, las transacciones se podran cancelar o extornar segun el estado en el que se encuentran. Las transacciones en estado REGISTRADO o PENDIENTE pasan a CANCELADO para CARD cuando es por Redirect, CUOTEALO, QR, BANK_TRANSFER y PAGOEFECTIVO. Las transacciones en estado AUTORIZADO pasan a EXTORNADO para CARD y YAPE.",
        "operationId": "cancelOrReverseEcommercePayment",
        "servers": [
          {
            "url": "https://api.preprod.alignet.io",
            "description": "Pre-Produccion"
          },
          {
            "url": "https://api.alignet.io",
            "description": "Produccion"
          }
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Token Bearer obtenido desde autenticacion.",
            "schema": {
              "type": "string",
              "default": "Bearer {{access_token}}"
            },
            "example": "Bearer {{access_token}}"
          },
          {
            "name": "ALG-API-VERSION",
            "in": "header",
            "required": true,
            "description": "Version del API a usar.",
            "schema": {
              "type": "string",
              "default": "1709847567"
            },
            "example": "1709847567"
          },
          {
            "name": "payment-facilitator-code",
            "in": "header",
            "required": false,
            "description": "Identificador del Facilitador de Pago.",
            "schema": {
              "type": "string"
            },
            "example": "your_pf_code"
          },
          {
            "name": "merchant_code",
            "in": "path",
            "required": true,
            "description": "Identificador del comercio.",
            "schema": {
              "type": "string"
            },
            "example": "your_merchant_code"
          },
          {
            "name": "merchant_operation_number",
            "in": "path",
            "required": true,
            "description": "Numero de operacion registrado por el comercio.",
            "schema": {
              "type": "string"
            },
            "example": "2391645"
          }
        ],
        "responses": {
          "200": {
            "description": "Operacion cancelada o extornada correctamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargeCancelResponse"
                },
                "examples": {
                  "cancel_success": {
                    "summary": "Cancelacion exitosa",
                    "value": {
                      "success": true,
                      "merchant_code": "abc",
                      "merchant_operation_number": "2836824",
                      "operation": {
                        "merchant_operation_number": "2836824",
                        "amount": "1000",
                        "currency": "604",
                        "created_at": {
                          "utc_time": "2024-07-05T16:46:12",
                          "unix_time": 1720197972
                        },
                        "state": "CANCELADO",
                        "transactions": [
                          {
                            "transaction_id": "9namjcnjvqzas2t33xyfrqr2h",
                            "channel": "ecommerce",
                            "state": "CANCELADO",
                            "state_reason": "Usuario cancelo el metodo de pago",
                            "amount": "1000",
                            "currency": "604",
                            "additional_fields": null,
                            "payment_method": {
                              "method_name": "PAGOEFECTIVO",
                              "method_details": {
                                "callback_url": "https://jjap9ekgee.execute-api.us-east-1.amazonaws.com/development/redirect/prueba/merchant_notification_response"
                              }
                            },
                            "expiration_date": null,
                            "processor_response": null,
                            "lifecycle": [
                              {
                                "state": "REGISTRADO",
                                "date": {
                                  "utc_time": "2024-07-05T16:46:12",
                                  "unix_time": 1720197972
                                }
                              },
                              {
                                "state": "PENDIENTE",
                                "date": {
                                  "utc_time": "2024-07-05T16:46:13",
                                  "unix_time": 1720197973
                                }
                              },
                              {
                                "state": "CANCELADO",
                                "date": {
                                  "utc_time": "2024-07-05T16:47:22",
                                  "unix_time": 1720198042
                                }
                              }
                            ]
                          }
                        ]
                      },
                      "meta": {
                        "status": {
                          "code": "00",
                          "message_ilgn": [
                            {
                              "locale": "es_PE",
                              "value": "Se proceso correctamente la peticion"
                            }
                          ]
                        }
                      }
                    }
                  },
                  "reverse_success": {
                    "summary": "Extorno exitoso",
                    "value": {
                      "success": true,
                      "merchant_code": "abc",
                      "merchant_operation_number": "8522366",
                      "operation": {
                        "merchant_operation_number": "8522366",
                        "amount": "150",
                        "currency": "604",
                        "created_at": {
                          "utc_time": "2024-07-05T20:34:18",
                          "unix_time": 1720211658
                        },
                        "state": "EXTORNADO",
                        "transactions": [
                          {
                            "transaction_id": "0fuwnd6miwsomisn0ikqivav9",
                            "channel": "ecommerce",
                            "state": "EXTORNADO",
                            "state_reason": "Pago anulado",
                            "amount": "150",
                            "currency": "604",
                            "additional_fields": null,
                            "payment_method": {
                              "method_name": "CARD",
                              "method_details": {
                                "redirect_url": null,
                                "callback_url": null,
                                "masked_pan": "545545******3401",
                                "brand": "MASTERCARD",
                                "bin": "545545",
                                "last_pan": "3401",
                                "card_type": "CIRRUS",
                                "card_country": "PE",
                                "issuer": "SCOTIABANK PERU S.A.A."
                              }
                            },
                            "continue_url": null,
                            "expiration_date": null,
                            "risk_evaluation": null,
                            "authentication_result": null,
                            "processor_response": {
                              "reverse_date": "05-07-2024 20:34:19",
                              "reverse_code": "T90261",
                              "brand_transaction_id": "0705203422939657",
                              "result_message": {
                                "code": "00",
                                "description": "Aprobado"
                              }
                            },
                            "lifecycle": [
                              {
                                "state": "REGISTRADO",
                                "date": {
                                  "utc_time": "2024-07-05T20:34:18",
                                  "unix_time": 1720211658
                                }
                              },
                              {
                                "state": "PENDIENTE",
                                "date": {
                                  "utc_time": "2024-07-05T20:34:19",
                                  "unix_time": 1720211659
                                }
                              },
                              {
                                "state": "AUTORIZADO",
                                "date": {
                                  "utc_time": "2024-07-05T20:34:24",
                                  "unix_time": 1720211664
                                }
                              },
                              {
                                "state": "EXTORNADO",
                                "date": {
                                  "utc_time": "2024-07-05T21:34:24",
                                  "unix_time": 1720211664
                                }
                              }
                            ]
                          }
                        ]
                      },
                      "meta": {
                        "status": {
                          "code": "00",
                          "message_ilgn": [
                            {
                              "locale": "es_PE",
                              "value": "Se proceso correctamente la peticion"
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request invalido."
          },
          "401": {
            "description": "Token invalido o expirado."
          }
        }
      }
    },
    "/refund": {
      "get": {
        "tags": [
          "Refunds"
        ],
        "summary": "Consultar devoluciones con filtros",
        "description": "El API de Consulta Masiva de Devolucion permite consultar mediante filtros una o mas solicitudes de devolucion generadas anteriormente por el API de Devoluciones.",
        "operationId": "listRefunds",
        "servers": [
          {
            "url": "https://api.preprod.alignet.io",
            "description": "Pre-Produccion"
          },
          {
            "url": "https://api.alignet.io",
            "description": "Produccion"
          }
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Token Bearer obtenido desde autenticacion.",
            "schema": {
              "type": "string",
              "default": "Bearer {{access_token}}"
            },
            "example": "Bearer {{access_token}}"
          },
          {
            "name": "ALG-API-VERSION",
            "in": "header",
            "required": true,
            "description": "Version del API a usar.",
            "schema": {
              "type": "string",
              "default": "1709847567"
            },
            "example": "1709847567"
          },
          {
            "name": "payment-facilitator-code",
            "in": "header",
            "required": false,
            "description": "Identificador del Facilitador de Pago.",
            "schema": {
              "type": "string"
            },
            "example": "your_pf_code"
          },
          {
            "name": "date_start",
            "in": "query",
            "required": true,
            "description": "Fecha inicial de cuando se realizo el refund en formato YYYY-MM-DD.",
            "schema": {
              "type": "string"
            },
            "example": "2025-05-26"
          },
          {
            "name": "date_end",
            "in": "query",
            "required": true,
            "description": "Fecha final de cuando se realizo el refund en formato YYYY-MM-DD.",
            "schema": {
              "type": "string"
            },
            "example": "2025-05-26"
          },
          {
            "name": "merchant_code",
            "in": "query",
            "required": false,
            "description": "Codigo unico del comercio.",
            "schema": {
              "type": "string"
            },
            "example": "41bb301e-3c37-4332-accb-ed5ec19081e4"
          },
          {
            "name": "merchant_operation_number",
            "in": "query",
            "required": false,
            "description": "Numero de operacion de un pedido.",
            "schema": {
              "type": "string"
            },
            "example": "239766"
          },
          {
            "name": "transaction_id",
            "in": "query",
            "required": false,
            "description": "UUID unico de una transaccion.",
            "schema": {
              "type": "string"
            },
            "example": "bko66gpi8czns4tcde93q96vd"
          },
          {
            "name": "refund_state",
            "in": "query",
            "required": false,
            "description": "Estado del refund.",
            "schema": {
              "type": "string",
              "enum": [
                "REGISTERED",
                "IN_PROCESS",
                "RESOLVED",
                "REJECTED"
              ]
            },
            "example": "REGISTERED"
          }
        ],
        "responses": {
          "200": {
            "description": "Consulta masiva de devoluciones obtenida correctamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundQueryResponse"
                },
                "example": {
                  "success": "true",
                  "merchant_code": "41bb301e-3c37-4332-accb-ed5ec19081e4",
                  "operations_count": "1",
                  "operations": [
                    {
                      "refund_id": "922178aa-ce4c-4c5f-8190-82fa7e009425",
                      "state": "REGISTERED",
                      "refund_reason": "Solicitud recibida y validada",
                      "type": "TOTAL",
                      "merchant_operation_number": "239766",
                      "transaction_id": "bko66gpi8czns4tcde93q96vd",
                      "refund_amount": "1050",
                      "transaction_amount": "1050",
                      "currency": "604",
                      "payment_method": {
                        "name": "CARD",
                        "brand": "VISA",
                        "masked_pan": "447411******2240"
                      },
                      "additional_fields": {
                        "canal": "WEB",
                        "reason": "cliente no reconocio el consumo",
                        "description": "solicitud por desconocimiento"
                      },
                      "lifecycle": [
                        {
                          "state": "REGISTERED",
                          "date": {
                            "utc_time": "2025-05-26T06:06:45",
                            "unix_time": 1748239605
                          }
                        }
                      ]
                    }
                  ],
                  "meta": {
                    "status": {
                      "code": "00",
                      "message_ilgn": [
                        {
                          "locale": "es_PE",
                          "value": "Se proceso correctamente la peticion"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request invalido."
          },
          "401": {
            "description": "Token invalido o expirado."
          }
        }
      },
      "post": {
        "tags": [
          "Refunds"
        ],
        "summary": "Solicitar devolucion",
        "description": "El API de Devoluciones permite enviar una o mas transacciones en estado LIQUIDADO a devolver. Solo esta disponible para los metodos CARD, YAPE y CUOTEALO. La devolucion se aplica despues de la autorizacion, cuando la transaccion ya fue liquidada.",
        "operationId": "createRefund",
        "servers": [
          {
            "url": "https://api.preprod.alignet.io",
            "description": "Pre-Produccion"
          },
          {
            "url": "https://api.alignet.io",
            "description": "Produccion"
          }
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Token Bearer obtenido desde autenticacion.",
            "schema": {
              "type": "string",
              "default": "Bearer {{access_token}}"
            },
            "example": "Bearer {{access_token}}"
          },
          {
            "name": "ALG-API-VERSION",
            "in": "header",
            "required": true,
            "description": "Version del API a usar.",
            "schema": {
              "type": "string",
              "default": "1709847567"
            },
            "example": "1709847567"
          },
          {
            "name": "payment-facilitator-code",
            "in": "header",
            "required": false,
            "description": "Identificador del Facilitador de Pago.",
            "schema": {
              "type": "string"
            },
            "example": "your_pf_code"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefundCreateRequest"
              },
              "example": {
                "merchant_code": "41bb301e-3c37-4332-accb-ed5ec19081e4",
                "operations": [
                  {
                    "type": "TOTAL",
                    "merchant_operation_number": "239766",
                    "transaction_id": null,
                    "refund_amount": "1050",
                    "additional_fields": {
                      "canal": "WEB",
                      "reason": "cliente no reconocio el consumo",
                      "description": "solicitud por desconocimiento"
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
[...]
